<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Welcome to this site</title>
	</head>
	<header>
		<a href="/image">Go for image</a>
		<a href="/mapsnweather">Go for weather</a>
	</header>
	<body>
		Hello person, these are the links
	</body>
	<!--<footer>
		<p>You, {{mean_name}}, since {{year}}</p>
	</footer>-->
</html>